
/*.image-picker-box{
    position: sticky;
    width: 100%;
    height:63px;
    top: 0%;
    position: absolute;
    left: 0%;
    background-color: rgba(117, 116, 116, 0.676);
    color: rgb(160, 219, 219);
}
    .image-picker-box .upload-button{
    position: absolute;
    top: 550px;
    left: 600px;
    border-radius: 2%;
}
.image-picker-box .remove-button{
    position:absolute;
    top: 550px;
    left: 700px;
    border-radius: 2%;
}*/
h3{
    position: absolute;
    top: 2%;
    left: 140px;
}
.logo{
    width: 310px;
    height: 120px;
    position: absolute;
    top: 1%;
    left: 10px;
}
.main-background{
    width: 680px;
    height: 525px;
    position: absolute;
    top: 63px;
    left: 330px;
}
.background-image{
    width: 550px;
    height: 400px;
    position:fixed;
    top:170px;
    left:390px;
    border-radius: 5%;
}
.image-preview{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 140px;
    left: 460px;
    border-radius: 5%;
}
.white-background{
    width: 400px;
    height: 340px;
    position: fixed;
    top: 200px;
    left: 467px;
    border-radius: 5%;
}
hr{
    width: 530px;
    height: 5px; 
    background-color: #78777788; 
    margin: 20px;
    position: absolute;
    top: 120px;
    left: 380px;
}
figcaption{
    position: absolute;
    top: 210px;
    left: 520px;
    color: rgb(120, 115, 106);
}